{
    "mongodb_auth": "mongodb+srv://username:password@cluster0.lbdsg.azure.mongodb.net/myFirstDatabase?retryWrites=true&w=majority",
    "admin_ids": [
        "1234",
        "5678"
    ],
    "client_tokens": {
        "telegram_token": "FOO",
        "discord_token": "BAR"
    }
}